@font-face {
    font-family: Open-Sans;
    src: url("../fonts/opensans-regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Open-Sans;
    src: url("../fonts/opensans-bold.ttf");
    font-weight: 700;
    font-style: normal;
}

html {
    font-family: Open-Sans;
    font-size: 10px;
    margin: 0;
}

.header {
    width: 100vw;
    background-image: url("../img/football_1920.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.header::after {
    content: "";
    background-color: #0a0e34;
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.container {
    z-index: 2;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    text-decoration: none;
    margin: auto;
}

.profile-first, .profile-second {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
}

.social-app-store, .social-google-play {
    background-color: #5e42b0;
    border: 0;
    border-radius: 20vw;
    margin-bottom: 5%;
    display: flex;
    font-family: Open-Sans;
    cursor: pointer;
}

.social-app-store:hover, .social-google-play:hover {
    color: #7c5fd0;
}

.social-app-store:focus, .social-google-play:focus {
    outline: 0.3em solid #3510a1;
    border-radius: 20vw;
}

.socials {
    color: #ffffff;
    text-transform: uppercase;
    text-align: start; 
}

.socials-strong {
    font-weight: 700;
}

.content {
    margin: auto;
}

.content-title {
    color: #e7e7e7;
    text-transform: uppercase;
}

.sport-title {
    text-transform: uppercase;
}

.order-number, .order-number-athlets, .order-number-players {
    position: relative;
    display: inline-flex;
}

.number {
    font-weight: 700;
}

.sport-title {
    color: #c1c1c1;
    margin: 0;
}

.collaboration {
    background-color: #f5f4f9;
}

.growth {
    background-color: #5e42b0;
}

.growth-players {
    background-color: #090c35;
}

.order-number-players {
    color: #8765dd;
}

.first-step, .second-step, .third-step {
    position: relative;
}

.step-title {
    color: #f5f6f7;
    text-transform: uppercase;
}

.footer {
    width: 100vw;
    position: relative;
}

.footer::after {
    content: "";
    background-color: #0a0e34;
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.footer-container {
    position: relative;
    margin: auto;
    z-index: 2;
}

.logotype {
    margin: auto;
}

.download-app {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    margin: auto;
}

.slogan {
    color: #9b8ec1;
    text-transform: uppercase;
    margin: auto;
}


@media (max-width: 640px) {
    .container {
        width: 87.5%;
        padding-bottom: 28%;
    }

    .header-logo {
        width: 41.5%;
        margin: 10% 29.25% 40%;
    }

    .profile-first {
        width: 100%;
        font-size: 2.8em;
        text-align: left;
        margin-bottom: 5%;
    }

    .profile-second {
        width: 84%;
        font-size: 2.8em;
        margin-left: 16%;
    }

    .social-app-store {
        margin-top: 25%;
        width: 100%;
        font-size: 0.8em;
        padding: 2% 29%;
    }

    .social-google-play {
        width: 100%;
        font-size: 0.8em;
        padding: 2% 29%;
        margin-bottom: 28%;
    }

    .socials {
        padding-left: 0.8em;
    }

    .button-logo {
        width: 25%;  
    }
    
    .content {
        width: 100vw; 
    }

    .content-title {
        font-size: 5em;
        margin-top: 7%;
        padding-left: 6.25%;
    }

    .athlet-picture {
        width: 54%;
        /*max-height: 280px;*/
        margin-left: 5%;
        margin-bottom: 8%;
    }

    /*.order-number, .order-number-three {
        font-size: 1.4em;
    }*/

    .sport-title {
        font-size: 2.3rem;
        padding-left: 1.5rem;
    }
  
    .number {
        font-size: 1.4rem;
        padding-top: 0.3rem;
    }

    .order-number, .order-number-three, .order-number-athlets, .order-number-players {
        margin-left: 6.25%;
        margin-top: 15%;
    }

    .order-number::after {
        content: "";
        position: absolute;
        background-color: #5e42b0;
        height: 0.4rem;
        width: 1.8rem;
        top: 2.1rem;
    }

    .order-number-athlets::after, .order-number-players::after {
        content: "";
        position: absolute;
        background-color: #ffffff;
        height: 0.4rem;
        width: 1.8rem;
        top: 2.1rem;
    }

    .connection-content, .collaboration-content, .growth-content {
        font-size: 1.5rem;
        padding: 9% 6.25% 18%;
        margin: 0;
    }

    .growth-content {
        color: #ffffff;
    }

    .basketballer-picture {
        width: 100%;
        margin-bottom: 15%;
    }

    .first-step, .second-step, .third-step {
        width: 100vw;
    }

    .be-active-picture, .find-contact-picture, .work-it-picture {
        box-sizing: border-box;
        background-size: auto 100vw;
        background-position: center;
        background-repeat: no-repeat;
        max-width: 100vw;
    }

    .first-number, .second-number, .third-number {
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }

    .first-number::before {
        content: "";
        position: absolute;
        background-color: #8f7bc8;
        height: 0.4em;
        width: 1.5em;
        top: -1.8em;
        left: 4.75em;
        z-index: 5;
    }

    .first-number::after {
        content: "01";
        width: 70px;
        height: 70px;
        background-color: #5e42b0;

        font-size: 14px;
        color: #ffffff;
        font-weight: bold;
        text-align: center;  
        line-height: 70px;
        
        position: absolute;
        top: -35%;
        left: 6.25%;
    }

    .second-number::before {
        content: "";
        position: absolute;
        background-color: #8f7bc8;
        height: 0.4em;
        width: 1.5em;
        top: -1.8em;
        left: 4.75em;
        z-index: 5;
    }

    .second-number::after {
        content: "02";
        width: 70px;
        height: 70px;
        background-color: #5e42b0;

        font-size: 14px;
        color: #ffffff;
        font-weight: bold; 
        text-align: center;  
        line-height: 70px;

        position: absolute;
        top: -35%;
        left: 6.25%;
    }

    .third-number::before {
        content: "";
        position: absolute;
        background-color: #8f7bc8;
        height: 0.4em;
        width: 1.5em;
        top: -1.6em;
        left: 4.75em;
        z-index: 5;
    }

    .third-number::after {
        content: "03";
        width: 70px;
        height: 70px;
        background-color: #5e42b0;

        font-size: 14px;
        color: #ffffff;
        font-weight: bold; 
        text-align: center;  
        line-height: 70px;

        position: absolute;
        top: -28%;
        left: 6.25%;
    }

    .step-title {
        font-size: 2.8em;
        margin-left: 6.25%;
        margin-bottom: 0;
    }

    .step-content {
        font-size: 1.5em;
        margin-left: 6.25%;
        margin-bottom: 20%;
    }

    .footer {
        background-image: url("../img/game_767.jpg");
    }

    .footer-container {
        width: 87.5vw;
        padding-top: 10rem;
    }

    .logotype {
        background-color: #6d4ec9;
        width: 70px;
        height: 70px;
        border-radius: 1.2em;
        position: relative;
    }

    .logotype-image {
        width: 60px;
        position: absolute;
        top: 10%;
        left: 7%;
    }

    .download-app {
        font-size: 3.2rem;
        margin-top: 5rem;
        text-align: center;
    }
    
    .slogan {
        font-size: 1.4rem;
        text-align: center;
    }
    
    .footer-logo {
        width: 47.5%;
        margin: 2% 26.25% 5%;
    }
}

@media (min-width: 641px) and (max-width: 960px) {
    .container {
        width: 91.66%;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 12.5%;
    }

    .logo {
        width: 29.2%;
        margin-top: 5%;
        margin-bottom: 25%;
    }

    .header-logo {
        width: 100%;
    }

    .profile-first {
        width: 92%;
        font-size: 6.4em;
        margin-left: 8%;
    }
    
    .profile-second {
        width: 77%;
        font-size: 6.4em;
        margin-left: 23%;
    }

    .social-app-store, .social-google-play {
        width: 44.5%;
        padding: 2% 6%;
        margin: 35% auto 7%;
    }

    .button-logo {
        width: 6.5em; 
    }
    
    .socials {
        font-size: 1.2em;
        padding-top: 3.5%;
        padding-left: 0.8em;
    }

    .socials-strong {
        font-size: 1em;
    }

    .content {
        width: 100vw; 
    }

    .sport1, .sport2 {
        position: relative;
        width: 100vw;
    }

    .sport1 .content-title {
        font-size: 8em;
        margin: 8% 4% 0 38.4%;
    }

    .sport2 .content-title {
        margin: 8% 38.4% 0 4%;
        font-size: 8em;
    }

    .athlet-picture {
        height: 100%;
        position: absolute;
        top: 1rem;
        right: 65%;
    }

    .sport1 .order-number, .order-number-athlets {
        margin-left: 38.4%;
        margin-top: 4%;
    }

    .sport2 .order-number, .order-number-players {
        margin: 4% 38.4% 0 4%;
    }

    .basketballer-picture {
        width: 100%;
        height: 100%;
        position: absolute;
        top: -2%;
        left: 10%;
    }

    .number {
        font-size: 1.8rem;
        padding-top: 0.3rem;
    }

    .sport-title {
        font-size: 3.2rem;
        padding-left: 4%;
    }

    .order-number::after {
        content: "";
        position: absolute;
        background-color: #5e42b0;
        height: 0.4rem;
        width: 2rem;
        top: 3rem;
    }

    .order-number-athlets::after, .order-number-players::after {
        content: "";
        position: absolute;
        background-color: #ffffff;
        height: 0.4rem;
        width: 2rem;
        top: 3rem;
    }

    .connection-content, .collaboration-content, .growth-content {
        font-size: 1.5rem;
        padding-top: 4%;
        padding-bottom: 4%;
        margin: 0 5% 0 38.4%;
        line-height: 1.7;
    }

    .sport2 .connection-content, .sport2 .collaboration-content, .sport2 .growth-content {
        font-size: 1.5rem;
        padding-top: 4%;
        padding-bottom: 4%;
        margin: 0 38.4% 0 5%;
        line-height: 1.7;
    }

    .growth-content {
        color: #ffffff;
    }

    .first-step, .second-step, .third-step {
        width: 100vw;
    }

    .be-active-picture, .find-contact-picture, .work-it-picture {
        box-sizing: border-box;
        background-size: auto 100vw;
        background-position: center;
        background-repeat: no-repeat;
        max-width: 100vw;
    }

    .first-number, .second-number, .third-number {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .first-number::before {
        content: "";
        position: absolute;
        background-color: #8f7bc8;
        height: 0.4em;
        width: 2.5em;
        top: -1.2em;
        left: 7.8em;
        z-index: 5;
    }

    .first-number::after {
        content: "01";
        width: 120px;
        height: 120px;
        background-color: #5e42b0;

        font-size: 24px;
        color: #ffffff;
        font-weight: bold;
        text-align: center;  
        line-height: 110px;
        
        position: absolute;
        top: -24%;
        left: 4%;
    }

    .second-number::before {
        content: "";
        position: absolute;
        background-color: #8f7bc8;
        height: 0.4em;
        width: 2.5em;
        top: -1.2em;
        left: 7.8em;
        z-index: 5;
    }

    .second-number::after {
        content: "02";
        width: 120px;
        height: 120px;
        background-color: #5e42b0;

        font-size: 24px;
        color: #ffffff;
        font-weight: bold; 
        text-align: center;  
        line-height: 110px;

        position: absolute;
        top: -26%;
        left: 4%;
    }

    .third-number::before {
        content: "";
        position: absolute;
        background-color: #8f7bc8;
        height: 0.4em;
        width: 2.5em;
        top: -1em;
        left: 7.8em;
        z-index: 5;
    }

    .third-number::after {
        content: "03";
        width: 120px;
        height: 120px;
        background-color: #5e42b0;

        font-size: 24px;
        color: #ffffff;
        font-weight: bold; 
        text-align: center;  
        line-height: 110px;

        position: absolute;
        top: -23%;
        left: 4%;
    }

    .step-title {
        font-size: 8em;
        margin-left: 4%;
        margin-bottom: 0;
    }

    .step-content {
        font-size: 2.4em;
        margin-left: 4%;
        margin-bottom: 13%;
    }

    .footer {
        background-image: url("../img/game_1280.jpg");
    }

    .footer-container {
        width: 87.5vw;
        display: flex;
        flex-wrap: wrap;
    }

    .logotype {
        background-color: #6d4ec9;
        width: 130px;
        height: 130px;
        border-radius: 1.2em;
        position: relative;
        margin-top: 19%;
    }

    .logotype-image {
        width: 105px;
        position: absolute;
        top: 13%;
        left: 9.5%;
    }

    .download-app {
        font-size: 8rem;
        margin-top: 8rem;
        text-align: center;
    }
    
    .slogan {
        font-size: 3.6rem;
        text-align: center;
    }
    
    .footer-logo {
        width: 29%;
        margin: 2% auto;
    }
}

@media (min-width: 961px) {
    .container {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
    }

    .logo {
        width: 12.5%;
        margin-top: 3%;
        margin-bottom: 15%;
    }

    .header-logo {
        width: 100%;
    }

    .profile-first {
        width: 99%;
        font-size: 9em;
    }
    
    .profile-second {
        width: 99%;
        font-size: 9em;
        text-align: end;
    }

    .social-app-store {
        width: 20%;
        padding: 1% 3%;
        margin: 14% 2% 6% auto;
    }

    .social-google-play {
        width: 19%;
        padding: 1% 3%;
        margin: 14% auto 6% 0;
    }

    .button-logo {
        width: 5em; 
    }
    
    .socials {
        font-size: 1.4rem;
        padding-left: 1.5em;
        padding-top: 2.5%;
    }

    .socials-strong {
        font-size: 1em;
    }
    
    .content {
        width: 100vw; 
    }

    .sport1, .sport2 {
        position: relative;
        width: 100vw;
    }

    .sport1 .content-title {
        font-size: 8em;
        margin: 5.9% 10% 0 52.7%;
    }

    .sport2 .content-title {
        margin: 5.9% 52.7% 0 10%;
        font-size: 8em;
    }

    .athlet-picture {
        height: 101%;
        position: absolute;
        top: 0.5rem;
        right: 50%;
    }

    .sport1 .order-number, .order-number-athlets {
        margin: 3.1% 10% 0 52.7%;
    }

    .sport2 .order-number, .order-number-players {
        margin: 3.1% 52.7% 0 10%;
    }

    .basketballer-picture {
        height: 101%;
        position: absolute;
        top: -2.5%;
        left: 40%;
    }

    .number {
        font-size: 1.8rem;
        padding-top: 0.3rem;
    }

    .sport-title {
        font-size: 3.6rem;
        padding-left: 10%;
    }

    .order-number::after {
        content: "";
        position: absolute;
        background-color: #5e42b0;
        height: 0.4rem;
        width: 2rem;
        top: 3rem;
    }

    .order-number-athlets::after, .order-number-players::after {
        content: "";
        position: absolute;
        background-color: #ffffff;
        height: 0.4rem;
        width: 2rem;
        top: 3rem;
    }

    .sport1 .connection-content, .sport1 .collaboration-content, .sport1 .growth-content {
        font-size: 2rem;
        padding-top: 1em;
        padding-bottom: 2.5em;
        margin: 0 10% 0 52.7%;
        line-height: 1.7;
    }

    .sport2 .connection-content, .sport2 .collaboration-content, .sport2 .growth-content {
        font-size: 2rem;
        padding-top: 1em;
        padding-bottom: 2.5em;
        margin: 0 52.7% 0 10%;
        line-height: 1.7;
    }

    .growth-content {
        color: #ffffff;
    }

    .first-step, .third-step {
        width: 100vw;
        display: flex; 
    }

    .second-step  {
        width: 100vw;
        display: flex; 
        flex-direction: row-reverse;
    }

    .be-active-picture, .find-contact-picture, .work-it-picture {
        box-sizing: border-box;
        background-size: 50% auto;
        background-position: center;
        background-repeat: no-repeat;
        min-width: 50vw;
    }

    .first-number, .second-number, .third-number {
        width: 50%;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .first-number::before {
        content: "";
        position: absolute;
        background-color: #8f7bc8;
        height: 0.4em;
        width: 2.5em;
        top: 20em;
        left: -1.4em;
        z-index: 5;
    }

    .first-number::after {
        content: "01";
        width: 170px;
        height: 170px;
        background-color: #5e42b0;

        font-size: 24px;
        color: #ffffff;
        font-weight: bold;
        text-align: center;  
        line-height: 160px;
        
        position: absolute;
        top: 14%;
        left: -9%;
    }

    .second-number::before {
        content: "";
        position: absolute;
        background-color: #8f7bc8;
        height: 0.4em;
        width: 2.5em;
        top: 20em;
        left: 94.7em;
        z-index: 5;
    }

    .second-number::after {
        content: "02";
        width: 170px;
        height: 170px;
        background-color: #5e42b0;

        font-size: 24px;
        color: #ffffff;
        font-weight: bold; 
        text-align: center;  
        line-height: 160px;

        position: absolute;
        top: 14%;
        left: 91%;
    }

    .third-number::before {
        content: "";
        position: absolute;
        background-color: #8f7bc8;
        height: 0.4em;
        width: 2.5em;
        top: 20em;
        left: -1.4em;
        z-index: 5;
    }

    .third-number::after {
        content: "03";
        width: 170px;
        height: 170px;
        background-color: #5e42b0;

        font-size: 24px;
        color: #ffffff;
        font-weight: bold; 
        text-align: center;  
        line-height: 160px;

        position: absolute;
        top: 14%;
        left: -9%;
    }

    .step-title {
        font-size: 8em;
        margin: 13.5% 0 6.25% 13%;
    }

    .step-content {
        font-size: 2.4em;
        margin-left: 13%;
    }

    .footer {
        background-image: url("../img/game_1920.jpg");
    }

    .footer-container {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        padding-top: 10%;
        margin: auto;
    }

    .logotype {
        background-color: #6d4ec9;
        width: 135px;
        height: 135px;
        border-radius: 1.2em;
        position: relative;
        margin: 1% 1% 0 23%;
    }

    .logotype-image {
        width: 105px;
        position: absolute;
        top: 13%;
        left: 9.5%;
        margin: 0 0;
    }

    .footer-slogan {
        width: 46%;
    }

    .download-app {
        font-size: 8rem;        
    }
    
    .slogan {
        font-size: 3rem;
    }
    
    .footer-logo {
        width: 10%;
        margin: 2.6% 44%;
    }
}
